<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录页</title>
</head>
<body>
    <h1>这是登录页</h1>
    <h2>
        收到的email是{email},<br/>
        收到的密码是{pwd}
    </h2>
    <br/>
    <form action="./login" method="post">
        <ul>
            <li>
                <label>email：</label>
                <input type="text" name="email" />
            </li>
            <li>
                <label>密码</label>
                <input type="password" name="pwd" />
            </li>
        </ul>
        <input type="submit" value="登录"/>
    </form>
</body>
</html>